In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_excel('data_final.xlsx')

In [3]:
df.head()

   observation  feature   price
0         0.44     0.68  511.14
1         0.99     0.23  717.10
2         0.84     0.29  607.91
3         0.28     0.45  270.40
4         0.07     0.83  289.88

In [20]:
df.describe()

       observation     feature        price
count   100.000000  100.000000   100.000000
mean      0.550300    0.501700   554.214600
std       0.293841    0.307124   347.312796
min       0.010000    0.000000    42.080000
25%       0.300000    0.230000   278.172500
50%       0.570000    0.485000   514.285000
75%       0.822500    0.760000   751.752500
max       1.000000    0.990000  1563.820000

In [21]:
df.isnull().sum()

observation    0
feature        0
price          0
dtype: int64

In [4]:
df.shape

(100, 3)

In [22]:
import numpy as np

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   observation  100 non-null    float64
 1   feature      100 non-null    float64
 2   price        100 non-null    float64
dtypes: float64(3)
memory usage: 2.5 KB

In [6]:
x = df.iloc[:,:-1].values

In [8]:
len(x)

100

In [9]:
x.shape

(100, 2)

In [10]:
y = df.iloc[:,:-1].values

In [11]:
len(y)

100

In [12]:
y.shape

(100, 2)

In [13]:
# Train Test Split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=40)

In [37]:
from sklearn import metrics
import statsmodels.api as sm

In [38]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)